@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background-color: theme('colors.dark.background');
    /* Fallback */
    background: linear-gradient(to bottom, theme('colors.dark.bgGradientStart'), theme('colors.dark.bgGradientEnd'));
    color: theme('colors.dark.text');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }

  code {
    font-family: 'JetBrains Mono', monospace;
  }
}